* {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: 600;
    font-size: 2.5em;
}

.input-field {
    border: hidden;
    height: 40px;
    width: 300px;
    box-shadow: 4px 4px #d3d3d3;
}

.input-field input:focus {
    outline: none;
    border-color: #39F;
}

.input-field:invalid {
    border-color: red;
}

.credentials-div {
    display: block;
    text-align: center;
    padding-top: 185px;
    padding-right: 200px;
    float: right;
}

#password-label {
    text-align: left;
}

#waves {
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 250;
    transform: translateX(-2%);
	height: 100%;
}

#guy {
    position: absolute;
    padding-top: 175px;
    width: 700px;
    height: 400px;
    display: flex;
    justify-content: flex-end;
    z-index: -1;
}

#button {
    display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}


@media screen and (max-width: 900px){
	.credentials-div{
		grid-template-columns: 1fr;
	}

	#guy{
		display: none;
	}

	#waves{
		display: none;
	}

	.form{
		justify-content: center;
	}
}